
<div ng-controller="SpringController">

	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<textarea class="mdl-textfield__input" rows="10" ng-model="query"></textarea>
		<label class="mdl-textfield__label">Query...</label>
	</div>

	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<textarea class="mdl-textfield__input" rows="10" ng-model="parameters"></textarea>
		<label class="mdl-textfield__label">Par&acirc;metros...</label>
	</div>

	<br>
	<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored showResult" ng-click="replaceParameters()">Replace</button>

	<dialog class="mdl-dialog">
		<div class="mdl-dialog__content">
			<h3>Resultado</h3>
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield">
			<textarea id="result" class="mdl-textfield__input" rows="10" ng-model="result" readonly></textarea>
		</div>
		<div class="mdl-dialog__actions mdl-dialog__actions--full-width">
			<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored clipboardButton" data-clipboard-target="#result">Copy to clipboard</button>
			<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored closeButton">Fechar</button>
		</div>
	</dialog>

	<script>
		initComponents();
	</script>

</div>
